<form autocomplete="off" classes="{{cssClasses}}">
  <header>
    {{> 'systems/fading-suns-4/templates/partials/actor/character-header.hbs' }}
  </header>

  {{> 'systems/fading-suns-4/templates/partials/actor/bank.hbs'}}
</form>
