.block-thick {
  border: 3px solid black;
  padding: 5px;
  margin: 1px;
}

.block {
  border: 1px solid gray;
  padding: 2px;
  margin: 1px;
}

input.double-digits {
  max-width: 3em;
  text-align: center;
}

input:read-only {
  cursor: pointer;
}

.editor {
  min-height: 500px;
}
