<div class="scrollable capabilities-dialog">
    {{#each capabilityGroups}}
        <h3>{{ name }}</h3>
        {{#each categories}}
            <h4>{{ name }}</h4>
            <ul class="capabilities-list">
                {{#each capabilities as |capability|}}
                    <li>
                        {{{capability}}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    {{/each}}
</div>
