<div class="scrollable open-perks-dialog">
    <ul class="perks-list">
        {{#each perks as |perk|}}
            <li>
                {{{perk}}}
            </li>
        {{/each}}
    </ul>
</div>
