$actor-image-size: 128px;

&.character {
  .header {
    display: grid;
    grid-template-areas: "identity image";
    grid-template-columns: 1fr $actor-image-size;
    grid-template-rows: 128px;
    grid-gap: 5px;

    align-items: center;
  }

  .area-identity {
    min-width: 0;
    align-items: center;

    display: grid;
    grid-area: identity;
    grid-template-columns: 15% 35% 15% 35%;
    grid-template-rows: repeat(4, 1fr);

    .size-speed-level {
      display: grid;
      grid-column: span 2;
      grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr 1fr;
      align-items: center;
    }
  }

  .area-image {
    min-width: 0;
    grid-area: image;
  }

  .bank {
    display: grid;

    grid-template-columns: repeat(3, 1fr) 1.5fr 1.5fr 1.5fr;
    align-items: center;

    .bank-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .double-input {
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputs {
        flex-direction: row;
        display: inline;
        white-space: nowrap;

        input {
          max-width: 3em;
        }
      }
    }

    .health {
      align-items: center;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "skills skills characteristics";

    .skills {
      display: grid;
      grid-area: skills;
      grid-template-columns: 25% 10% 15% 25% 10% 15%;
    }

    .characteristics {
      display: grid;
      grid-area: characteristics;
      grid-template-rows: repeat(9, 1fr);
    }

    .characteristic {
      align-items: center;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;

      font-size: 1.2em;
      font-weight: bolder;
    }
  }
}
