<section class="scrollable">
    <h2>{{ localize "fs4.commonFields.description" }}</h2>
    {{{description}}}

    {{> "fading-suns-4.choices-set" choices=preconditions titleKey="fs4.commonFields.precondition" }}
</section>
